*{
    margin: 0;
    padding: 0;    
}
header{
    background: black;
    color: white;
    text-align: center;
    padding:20px;
}
#Pokemon{
    background: orange;
    text-align: center;
    padding: 20px;
}
nav ul{
    margin: 20px;
    padding:10px;
    display: flex;  
    justify-content: center;
    list-style: none;
    text-align: center;
   align-items: center;
}
.nav-link{
    text-decoration: none;
    cursor:pointer;
}
nav ul li{
    margin: 0 20px; 
}
p,img,h2,h1{
    margin: 20px;
}